.SongCardWrapper {
    padding: 16px;
    border-bottom: 1px solid #5f5f5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    width: 520px;
    text-align: left;
}

.SongCardTitle {
    font-weight: 400;
    font-size: 18px;

    padding: 0px 0px 8px 0px;
    margin: 0px;
}

.SongCardArtist {
    font-weight: 400;
    font-size: 14px;
    color: #5f5f5f;

    padding: 0px;
    margin: 0px;
}

.SongCards-ParentWrapper {
    border-top: 1px solid #5f5f5f;
    border-left: 1px solid #5f5f5f;
    border-right: 1px solid #5f5f5f;
}

.SongCardImage {
    border-radius: 2px;
    margin-right: 16px;
    opacity: 66%;
}

.SongCardTextWrapper {
    flex:1;
}